<div *ngIf="hero">
  <h2>{{hero.h_name | uppercase}} Details</h2>

  <table>
    <tr>
        <td>
         ID:
        </td>
        <td>
        {{hero.h_name}}
       </td>
    </tr>
    <tr>
        <td>
            <label id="hero_name">Hero Name:</label>
        </td>
        <td>
            <input id="hero_name" [(ngModel)]="hero.h_name" placeholder="hero name" />
       </td>
    </tr>
    <tr>
      <td>
        <label for="hero-h_power">Hero power: </label>
      </td>
      <td>
        <input type="number" min="0" max="10" id="hero-h_power" [(ngModel)]="hero.h_power" placeholder="Hero power" />
     </td>
  </tr>
  <tr *ngIf="villian">
    <td>
      <label for="hero-villian">villian: </label>
    </td>
    <td>
    {{villian.name}}
   </td>
   <td [style.color]="hero.h_power>=villian.power ? 'green' : 'red'">
    {{hero.h_power>villian.power ? 'The world is in safe hands' : 'The world is doomed!'}}
  </td>
</tr>
    </table>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="Save()">Save</button>
</div>